@model API_Consumer_University_test1.Models.Majors

@{
    ViewData["Title"] = "CreateMajor";
}

<h1>CreateMajor</h1>

<h4>Majors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMajor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="major_hours" class="control-label"></label>
                <input asp-for="major_hours" class="form-control" />
                <span asp-validation-for="major_hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="major_cost_hour" class="control-label"></label>
                <input asp-for="major_cost_hour" class="form-control" />
                <span asp-validation-for="major_cost_hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
