@model API_Consumer_University_test1.Models.Courses

@{
    ViewData["Title"] = "CreateCourse";
}
@if(TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>CreateCourse</h1>

<h4>Courses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course_Name" class="control-label"></label>
                <input asp-for="Course_Name" class="form-control" />
                <span asp-validation-for="Course_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label for="teacherId">Teacher</label>
                <select name="teacherId" class="form-control">
                    <option value="">-- Select Teacher --</option>
                    @if (ViewBag.Teachers != null) { 
                    @foreach (var teacher in ViewBag.Teachers)
                    {
                        <option value="@teacher.Id">@teacher.Teacher_Name</option>
                    }
                    }
                </select>
            </div> *@

            <div class="form-group">
                <label asp-for="Course_Hours" class="control-label"></label>
                <input asp-for="Course_Hours" class="form-control" />
                <span asp-validation-for="Course_Hours" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
